/BMWSDLGenerator$WSDL_TYPES.class
/BMWSDLGenerator.class
/ISOAPConfiguration.class
/SOAPConfiguration.class
/SOAPServiceInterpreter.class
/WSDLUtil.class
/WSLoginChecker.class
/WebServiceInvoker.class
/XMLSampleToWSDL.class
