<?xml version="1.0" encoding="UTF-8"?>
<dc:data-source-config xmlns:dc="aurora.plugin.xapool">
	<databases>	
		<dc:data-base driverClass="oracle.jdbc.driver.OracleDriver" url="jdbc:oracle:thin:@192.168.11.242:1521:hrms" userName="scott" password="tiger" pool="true"/>
     	<dc:data-base name="oracle" driverClass="oracle.jdbc.driver.OracleDriver" url="jdbc:oracle:thin:@192.168.11.65:1521:masdev" userName="hecdev" password="hecdev" pool="true" maxConn="50" minConn="2" expirationTime="600000" sleepTime="300000" deadlockMaxWait="300000" deadlockRetryWait="10000"/>	
	    <dc:data-base name="mysql" driverClass="com.mysql.jdbc.Driver" url="jdbc:mysql://localhost:3306/test" userName="root" password="handhand" pool="true"/>
		<dc:data-base name="sqlserver" driverClass="com.microsoft.sqlserver.jdbc.SQLServerDriver" url="jdbc:sqlserver://127.0.0.1:1433;databaseName=xademo" userName="sa" password="handhand" pool="true"/>
	</databases>
</dc:data-source-config>
