<participant-manager xmlns="uncertain.event">
	<participant-list category="service">
		<participant class="aurora.service.json.JSONServiceInterpreter" />
		<participant class="aurora.demo.PerformanceLog" />
		<participant class="aurora.demo.SessionChecker" />
		<participant class="aurora.bm.ModelAccessChecker" />
	</participant-list>	
</participant-manager>