<p:procedure-registry xmlns:p="uncertain.proc">
<!--
	<p:procedure-mappings>
		<p:procedure-mapping name="svc" procedure="aurora.service.controller.InvokeService"/>
		<p:procedure-mapping name="screen" procedure="aurora.service.controller.RunScreen"/>
	</p:procedure-mappings>
-->	
	<p:procedures>
		<p:procedure name="pre-service">
			<p:action name="CheckSession" />
			<p:action name="CheckPriviledge" />
			<p:echo message="service checked" />
		</p:procedure>
	</p:procedures>
</p:procedure-registry>
