	<exception-descriptor-config xmlns="aurora.service.exception">
		<exception-descriptor exception="aurora.service.validation.ImageValidationException" handleClass="aurora.service.exception.ImageValidationExceptionDescriptor"/>
		<exception-descriptor exception="aurora.service.validation.ValidationException" handleClass="aurora.service.exception.ValidationExceptionDescriptor" message="PROMPT.INPUT_INVALID"/>
		<exception-descriptor exception="aurora.service.validation.DatatypeMismatchException" handleClass="aurora.service.exception.FieldExceptionDescriptor" message="PROMPT.INVALID_DATATYPE.${datatype}"/>
		<exception-descriptor exception="aurora.service.validation.ParameterNullException" handleClass="aurora.service.exception.FieldExceptionDescriptor" message="PROMPT.PARAMETER_MISSING"/>
		<exception-descriptor exception="java.sql.SQLException" handleClass="aurora.database.DataBaseExceptionDescriptor"/>
	</exception-descriptor-config>