<?xml version="1.0" encoding="UTF-8"?>
<d:database-factory xmlns:d="http://www.aurora-framework.org/schema/database" defaultDatabase="Oracle10g">
	<d:databases>
		<d:database-profile databaseName="Oracle10g">
				<d:keywords 
						current_time="sysdate"
						current_date="trunc(sysdate)"
				        composite_statement_prefix="BEGIN "
                        composite_statement_postfix=" END;" 
                        composite_statement_separator=";"
				/>
				<d:properties key1="value1" />
				<d:sql-builder-mapping sqlBuilder="aurora.database.local.oracle.sql.OracleSqlBuilder">
					<d:mappings>
						<d:statement-mapping statementClass="aurora.database.local.oracle.sql.OracleInsertStatement" />
						<d:statement-mapping statementClass="aurora.database.local.oracle.sql.ReturningIntoStatement" />
					</d:mappings>
				</d:sql-builder-mapping>
		</d:database-profile>
<!--		
		<d:database-profile databaseName="MySQL5">
				<d:sql-builder-mapping sqlBuilder="aurora.database.local.oracle.sql.OracleSqlBuilder">
					<d:mappings>
						<d:statement-mapping statementClass="aurora.database.local.oracle.sql.OracleInsertStatement" />
						<d:statement-mapping statementClass="aurora.database.local.oracle.sql.ReturningIntoStatement" />
					</d:mappings>
				</d:sql-builder-mapping>
		</d:database-profile>		
-->		
	</d:databases>

	<d:properties user_id_path="/session/@user_id" last_updated_date_field="LAST_UPDATE_DATE" language_path="/session/@lang">
		<d:multi-language-storage model="fnd.fnd_descriptions" ref_table="REF_TABLE" ref_field="REF_FIELD" description="DESCRIPTION_TEXT" pk_id="DESCRIPTION_ID" sequence="fnd_description_pkg.get_fnd_description_id"/>
	</d:properties>
	
</d:database-factory>