/E_CheckBMAccess.class
/E_DetectProcedure.class
/E_PopulateBusinessModel.class
/E_PrepareBusinessModel.class
/E_PrepareServiceConfig.class
/E_ServiceFinish.class
/E_TransactionCommit.class
/E_TransactionRollBack.class
