/IConfigurableService.class
/IResourceReleaser.class
/IService.class
/IServiceFactory.class
/ServiceContext.class
/ServiceController.class
/ServiceFactoryImpl.class
/ServiceInstance.class
/ServiceInvoker.class
/ServiceOutputConfig.class
/ServiceThreadLocal.class
/SetParameterParsed.class
